<div style="padding:3px"> </div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">
      <h2>회원 가입</h2>
      <%= form_for(resource, :html => {:class => 'form-horizontal'}, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <!-- 이름 입력 -->
          <%= f.label :username, :class => "col-sm-2 control-label", for: "name" %>
          <div class="col-sm-10">
            <%= f.text_field :username, autofocus: true, id:"name" , :class => "form-control", placeholder: "이름" %>
          </div>
        </div>

        <!-- 이메일 입력 -->
        <div class="form-group">
          <%= f.label :Email, :class => "col-sm-2 control-label", for: "inputEmail3" %>
          <div class="col-sm-10">
            <%= f.email_field :email, autofocus: false, id:"inputEmail3" , :class => "form-control", placeholder: "이메일" %>
          </div>
        </div>

        <!-- 학번입력 -->
        <div class="form-group">
          <%= f.label :school_number, :class => "col-sm-2 control-label", for: "school_number" %>
          <div class="col-sm-10">
            <%= f.text_field :school_number, :class => "form-control", placeholder: "학번" %>
          </div>
        </div>

        <!-- 패스워드 입력 -->
        <div class="form-group">
          <%= f.label :password , :class => "col-sm-2 control-label", for: "inputPassword3"%>
          <div class="col-sm-10">
            <% if @minimum_password_length %>
            <!-- <em>( 최소 <%= @minimum_password_length %> 자리 이상 )</em>-->
            <% end %>
            <%= f.password_field :password, autocomplete: "off", :class => "form-control", id: "inputPassword3", placeholder: "비밀번호는 최소 8자리 이상" %>
          </div>
        </div>

        <!-- 패스워드 확인 -->
        <div class="form-group">
          <%= f.label :password_confirmation, :class => "col-sm-2 control-label", for: "inputPassword3" %>
          <div class="col-sm-10">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", id: "inputPassword3", placeholder: "비밀번호 재확인" %>
          </div>
        </div>

        <!-- 학년 선택 -->
        <!-- 나중에 레일즈 select_tag로 변경하기 -->
        <div class="form-group">
          <%= f.label :grade, :class => "col-sm-2 control-label", for: "selectgrade" %>
          <div class="col-xs-12 col-sm-10">
           <%= f.select :grade, options_for_select([["전체", 0],["1학년", 1], ["2학년", 2], ["3학년", 3], ["4학년",4]]), {}, { :class => 'form-control'} %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="actions">
              <div class="pull-right">
              <%= f.submit("Sign up",:class => "btn btn-default") %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div style="padding:30px"></div>
