<% if flash[:notice] %>
  <div class="notice">
    <div class="alert alert-success alert-dismissible" role="alert" id="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
        <%= flash[:notice] %>
    </div>
      <script>
        setTimeout("$('#alert').fadeOut('slow')", 2000)
      </script>
  </div>
<% end %>


<div class="container" id="carousel">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" id="carousel_body">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" id="carousel-inner" role="listbox">
      <div class="item active">
           <%= image_tag("Coding.jpg", :width => "100%") %>
        <div class="carousel-caption">
           <h4> 원광대학교 컴퓨터공학과 홈페이지 </h4>
        </div>
      </div>
      <div class="item">
          <%= image_tag("Coding1.jpg", :width => "100%") %>
        <div class="carousel-caption">
          <h4> 학과 학년 별 공지, 게시판 등이 있으니 이용해주시면 감사하겠습니다. </h4>
        </div>
      </div>
      <div class="item">
        <%= image_tag("Coding2.jpg", :width => "100%") %>
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
      </div>
    </div>
  </div>
</div>
  <div style="padding:20px"> </div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="well well-sm">
        전체 공지사항
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>글 번호</th>
            <th>공지 대상</th>
            <th>공지사항</th>
            <th>작성자 </th>
            <th>작성일자</th>
          </tr>
        </thead>
        <tbody>
          <% @post.reverse.each do |p| %>
          <tr>
            <th scope="row"> <%= p.id %> </th>
              <td>
                <% if p.grade == 0 %>
                  <p> 전체 </p>
                <% elsif p.grade == 1 %>
                  <p> 1학년 </p>
                <% elsif p.grade == 2 %>
                  <p> 2학년 </p>
                <% elsif p.grade == 3 %>
                  <p> 3학년 </p>
                <% else %>
                  <p> 4학년 </p>
                <% end %>
              </td>
              <td> <%= link_to "#{p.title}", notice_path(p.id) %> </td>
              <td> <%= p.author %></td>
              <td> <%= p.updated_at.strftime("%Y. %m. %d") %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
      <div class="well well-sm">
        자유 게시판
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>글 번호</th>
            <th>공지사항</th>
            <th>작성자 </th>
            <th>작성일자</th>
          </tr>
        </thead>
        <tbody>
          <% @freeboard.reverse.each do |p| %>
          <tr>
            <th scope="row"> <%= p.id %> </th>
              <td> <%= link_to("#{p.title}", freeboard_path(p.id)) %></td>
              <td> <%= p.author %></td>
              <td> <%= p.updated_at.strftime("%Y. %m. %d") %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
   </div>
</div>
