<div style="margin:80px"> </div>
<!-- 
<div class="jumbotron" id="MainJumbotron">
  <h2> 원광대학교 컴퓨터공학과 </h2>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">가입하기</a></p>
</div> -->
<!--
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("carousel1.jpg") %>
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
       <%= image_tag("carousel2.jpeg", size:"1280x320") %> 
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <%= image_tag("") %>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
-->


<div class="row">
  <div class="col-xs-12 col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>글 번호</th>
          <th>공지사항</th>
          <th>작성자 </th>
          <th>작성일자</th>
        </tr>
      </thead>
      <tbody>
        <% @post.reverse.each do |p| %>
        <tr>
          <th scope="row"> <%= p.id %> </th>
            <td> <%= p.title %> </td>
            <td> <%= p.author %></td>
            <td> <%= p.updated_at %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
 </div>

<!-- 
<div class="row">
        <div class="col-xs-6 col-sm-4"></div>
        <div class="col-xs-6 col-sm-4">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>학과공지</th>
                <th>공지사항</th>
                <th>작성자 </th>
                <th>작성일자</th>
              </tr>
            </thead>
            <tbody>
              <% @post.reverse.each do |p| %>
              <tr>
                <th scope="row"> <%= p.id %> </th>
                  <td> <%= p.title %> </td>
                  <td> <%= p.author %></td>
                  <td> <%= p.updated_at %> </td>
              </tr>
              <% end %>
            </tbody>
          </table>    
        </div>
        <div class="col-xs-6 col-sm-4"></div>
</div>   -->

