<div style="padding:10px;"> </div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
	<table class="table">
	  	<div class="panel panel-default">
  			<div class="panel-body">
    			학과 게시판
  			</div>
		</div>
	  	<!-- <caption class="NoticeAll"> 전체 공지 </caption> -->
	  	<thead>
	        <tr>
	          <th>전체 공지</th>
	          <th>제 목</th>
	          <th>작성자</th>
	          <th>작성 일자</th>
	        </tr>
	  	</thead>
	  	<tbody>
          <% @post.last(5).reverse.each do |p| %>
	        <tr>
	          <th scope="row"> <%= p.id %></th>
	          <td> <%= link_to "#{p.title}", notice_path(p.id) %> </td>
	          <td> <%= p.author %> </td>
	          <td> <%= p.updated_at.strftime("%Y. %m. %d") %> </td>
	        </tr>
      	  <% end %>
	  	</tbody>
    </table>
    <div class="pull-right">
      <%= link_to("글 작성", new_notice_path, class: "btn btn-default", role: "button") %>
    </div>
  </div>
</div>
