<div style="padding:10px"></div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offeset-2 col-md-8 col-md-offset-2">
    <%= form_for @post, class: "form-control", url: board_path(@post), method: "patch" do |f| %>
    <%= f.text_field :title , class: "form-control", :required => true, autofocus: true %>
    <%= f.text_field :author, class: "form-control" %>
    <!-- <%= f.text_area :content, size: "25x4" , class: "form-control" , placeholder: "내용" %> -->
    <%= f.cktext_area :content, rows: 10 %>
    <div class="pull-right" style="margin-top:3px">
      <%= f.submit "제출", class: "btn btn-default" %>
    </div>
    <% end %>
  </div>
</div>
