<div style="padding:50px;"> </div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<table class="table">
	  	<div class="panel panel-default">
  			<div class="panel-body">
    			 자유 게시판
  			</div>
		  </div>

	  	<!-- <caption class="NoticeAll"> 전체 공지 </caption> -->
	  	<thead>
	        <tr>
	          <th>전체 공지</th>
	          <th>제 목</th>
	          <th>작성자</th>
	          <th>작성 시간</th>
	        </tr>
	  	</thead>
	  	<tbody>
          <% @freeboard.reverse.each do |p| %>
	        <tr>
	          <th scope="row"><%= p.id %></th>
	          <td> <%= link_to "#{p.title}", freeboard_path(p.id) %> </td>
	          <td> <%= p.author %> </td>
	          <td> <%= p.updated_at %> </td>
	        </tr>
      	  <% end %>
	  	</tbody>
	</table>
  	<%= link_to("글 쓰기", new_freeboard_path, class: "btn btn-default", role: "button") %>
  </div>
</div>
