<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offeset-2">
    <%= form_for :freeboard, class: "form-control", url: {action: "create"} do |f| %>
    <%= f.text_field :title , class: "form-control", placeholder: "타이틀", :required => true, autofocus: true %>
    <%= f.text_field :author, class: "form-control", placeholder: "작성자"  %>
    <%= f.cktext_area :content, rows: 10 %>
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <div class="pull-rigth">
      <%= f.submit "제출", class: "btn btn-default" %>
    </div>
    <% end %>
  </div>
</div>
