<!-- Comment Header -->
<div>
  <h5 class="comment_title"> | Comments </h5>
</div>

<!-- Comment Body -->
<div class="comment_body">
  <% @freeboard_comments.reverse.each do |c| if c.board_id == @board.id %>
    <div>
        <div class="comment">
          <% @user.each do |u| %>
            <% if u.id == c.user_id %>
              <div class=comment_header>
                <% if u.grade == 0 %>
                  <p class="comment_info"> 작성자 : <%= u.username %> </p>
                  <p class="comment_created"> <%= c.created_at.strftime("%Y. %m. %d") %> </p>
                <% else %>
                  <p class="comment_info"> 작성자 : <%= u.grade %> 학년 <%= u.username %> </p>
                  <p class="comment_created"> <%= c.created_at.strftime("%Y. %m. %d") %> </p>
                <% end %>
              </div>
              <% end %>
            <% end %>
              <div class="comment_content">
                <p>
                  <%= c.content %>
                  <% if @notice_comments %>
                  <%= link_to("수정", edit_notice_comment_path(@post), class: "edit_notice_comment", style: "text-decoration: none; color: white; background:rgba(28, 185, 76, 0.78); border-radius: 5px; padding:1px;") %>
                  <%= link_to("삭제", notice_comment_path(@post), class: "delete_notice_comment", method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' }, style: "text-decoration: none; color: white; background:rgba(45, 28, 185, 0.78); border-radius: 5px; padding:1px;") %>
                  <% end %>
                </p>
              </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
