<div style="padding:20px;"> </div>
<div class="container">
  <div class="row">
      <% if flash[:notice] %>
        <div class="notice">
      		<div class="alert alert-success alert-dismissible" role="alert">
      			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
      				<span aria-hidden="true">&times;</span>
      			</button>
          		<%= flash[:notice] %>
        	</div>
        </div>
      <% end %>
  </div>

  <div style="padding:20px;"> </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading" id="panel-heading">
          <%= raw @question_answer.title %>
          <p class="pull-right"> 공지게시판 | <%= @question_answer.author %> </p>
        </div>
        <div class="panel-body" id="post_body">
          <div class="post_content">
            <%= raw @question_answer.contents  %>
          </div>
        </div>
      </div>
         <!-- 수정, 삭제기능 글쓴이 일때만 보이도록 처리 -->
        <% if current_user.id == @question_answer.user_id %>
          <div class="pull-right" style="margin-bottom:20px">
            <%= link_to("수정", edit_question_answer_path(@question_answer), class: "btn btn-default") %>
            <%= link_to("삭제", question_answer_path(@question_answer), class: "btn btn-default", method: :delete, data: { confirm: '정말로 삭제하시겠습니까?' }) %>
          </div>
        <% end %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
      <div class="panel panel-default" id=comment>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>
