<footer id="footer">
  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 column">
              <h4 id="content" onclick="myFunction()">Information</h4>
              <ul class="nav">
                  <li> <%= link_to "원광대학교 홈페이지", "http://www.wku.ac.kr/" %> </li>
                  <li> <%= link_to "웹정보 서비스", "http://intra.wku.ac.kr/" %> </li>
                  <li> <%= link_to "e-class", "http://wvu.wku.ac.kr/" %> </li>
                  <li> <%= link_to "중앙도서관", "http://library.wku.ac.kr/" %> </li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 column">
              <h4 id="content" onclick="myFunction()">Follow Us</h4>
              <ul class="nav">
                  <li><%= link_to "Facebook 컴퓨터공학과 페이지", "https://www.facebook.com/wkuComputer/" %> </li>
                  <li><a href="#">추가 예정</a></li>
                  <li><a href="#">추가 예정</a></li>
                  <li><a href="#">추가 예정</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 column">
              <h4 id="content" onclick="myFunction()"> Programming Education </h4>
              <ul class="nav">
                  <li> <%= link_to "생활코딩", "https://opentutorials.org/course/1" %> </li>
                  <li> <%= link_to "Codecademy", "https://www.codecademy.com/learn" %> </li>
                  <li> <%= link_to "Codeschool", "https://www.codeschool.com/" %> </li>
                  <li> <%= link_to "Udacity", "https://www.udacity.com/" %> </li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 column">
              <h4 id="content" onclick="myFunction()"> Algorithm Trainning </h4>
              <ul class="nav">
                  <li> <%= link_to "알고스팟", "https://algospot.com/" %> </li>
                  <li> <%= link_to "더블릿", "http://www.dovelet.com/" %> </li>
                  <li> <%= link_to "Baekjoon onlion judge", "https://www.acmicpc.net/" %> </li>
                  <li><a href="#">Terms &amp; Conditions</a></li>
              </ul>
          </div>
      </div>
      <p class="text-center">©20143057 컴퓨터공학과 박민기</p>
  </div>
</footer>

<script>
  function myFunction() {
    document.body.scrollTop = document.body.scrollHeight;
  }
</script>
