<!-- 상단 Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" id="navbarCustom"> <!--  navbar-fixed-top -->
    <div class="container">
      <div class="navbar-header">
          <%= link_to image_tag("brand.png", size: "120x30", alt: "원광대학교 컴퓨터공학과"), root_path, :class => "navbar-brand" %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"> </span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'notice' %>"> <%= link_to "전체 공지", notice_index_path %> </li>
        <li class="<%= 'active' if params[:controller] == 'freeboard' %>"><%= link_to "자유 게시판", board_index_path, class: "nav_component" %> </li>
        <li class="<%= 'active' if params[:controller] == 'question_answer' %>"><%= link_to "질문 게시판", question_answer_index_path, class: "nav_component" %> </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li> <%= link_to "#{current_user.username}님", root_path %> </li>
        <% end %>
        <% unless current_user %>
          <li> <%= link_to("로그인", new_user_session_path) %><span class="sr-only">(current)</span> </li>
          <li> <%= link_to("회원가입", new_user_registration_path) %> </li>
        <% else %>
          <li> <%= link_to("로그아웃", destroy_user_session_path, :method => :delete) %><span class="sr-only">(current)</span> </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div style="padding:25px"> </div>
